.videoandaudio{
	display: none;
	position: absolute;
	z-index: 301;
	top: 60px;
    right: 10px;
    height: 480px !important;
    width: 640px;
    background-color: #ccc;
    opacity:1.0;
}
.videoandaudio-localvideo{
    position: absolute;
	z-index: 302;
    right: 0px;
    height: 30%;
    width: 30%;
    object-fit: contain;
}
.videoandaudio-remotevideo{
    position: absolute;
	z-index: 301;
    right: 0px;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    object-fit: contain;
}
.videoandaudio-userinfo{
    z-index: 303;
    color:red;
    position:absolute;
    font-size: 18px;
    top:80px;
    left:120px;
    right:120px;
}
.videoandaudio-pauseorresume{
    z-index: 303;
    color:red;
    position:absolute;
    font-size: 40px;
    bottom:60px;
    left:120px;
    display: none;
}
.videoandaudio-answer{
    z-index: 303;
    color:green;
    position:absolute;
    font-size: 40px;
    bottom:60px;
    left:120px;
    display: block;
    transform:rotate(90deg);
}
.videoandaudio-hangup{
    z-index: 303;
    color:red;
    position:absolute;
    font-size: 40px;
    bottom:60px;
    right:120px;
    display: block;

}